.footer {
    margin-top: 240px;
    padding-bottom: 350px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    color: #1C2323;
}

.footer__text {
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #486958;
    position: relative;
}

.footer__text::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 1em;
    background-image: url("../img/vector1.png");
    background-repeat: no-repeat;
    bottom: -100px;
    left: 0;
}






.footer__form {
    display: flex;
    flex-direction: column;
    width: 1000px;
    border: 1px solid #486958;
    padding: 58px 54px;

}

.footer__input {
    margin-top: 50px;
    border: none;
    padding-bottom: 25px;
    border-bottom: 1px solid #000000;
}

.footer__textarea {
    margin-top: 63px;
    border: none;

}

.footer__btn {
    display: flex;
    justify-content: end;
}

.btn__submit {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
    background: #58A9A5;
    border-radius: 20px 20px 20px 0px;
    padding: 21px 73px;

}